{% extends 'base.html.twig' %}
{% block body %}
    <div id="odometer" class="odometer">500</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('cashback') }}
{% endblock %}
